# private gitconfig of dyle --> copy to ~/.gitconfig

[alias]
    co = checkout
    conflict = diff --name-only --diff-filter=U
    ci = commit
    st = status
    br = branch
    hist = log --branches --remotes --tags --graph --oneline --decorate
    type = cat-file -t
    dump = cat-file -p
    ls = ls-files
    lg = log --pretty=format:'%C(yellow)%h %Cblue%>(12)%ai %Cgreen%<(7)%an%C(magenta)%d %Creset%s'

[user]
#    email = 
#    name = 

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    pager = true
    status = auto
    ui = auto

[pull]
    rebase = true

[core]
    pager = bat --theme Dracula --style=changes
    autocrlf = input

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[init]
	defaultBranch = main
